@charset "UTF-8";

 
.ravex-icon-colaborador:before { content: '\e800'; } /* '' */
.ravex-icon-usuario:before { content: '\e801'; } /* '' */
.ravex-icon-motorista:before { content: '\e802'; } /* '' */
.ravex-icon-resize-full:before { content: '\e803'; } /* '' */
.ravex-icon-direcao:before { content: '\e804'; } /* '' */
.ravex-icon-EMI:before { content: '\e805'; } /* '' */
.ravex-icon-Car:before { content: '\e806'; } /* '' */
.ravex-icon-MapPin:before { content: '\e807'; } /* '' */
.ravex-icon-block:before { content: '\e808'; } /* '' */
.ravex-icon-ponto-referencia:before { content: '\e809'; } /* '' */
.ravex-icon-eye:before { content: '\e80a'; } /* '' */
.ravex-icon-contrasenha:before { content: '\e80b'; } /* '' */
.ravex-icon-atencao:before { content: '\e80c'; } /* '' */
.ravex-icon-uniE7F4:before { content: '\e80d'; } /* '' */
.ravex-icon-monitoramento-veiculo:before { content: '\e80e'; } /* '' */
.ravex-icon-ok:before { content: '\e80f'; } /* '' */
.ravex-icon-area:before { content: '\e81d'; } /* '' */
.ravex-icon-X:before { content: '\e8bb'; } /* '' */
.ravex-icon-Volume3:before { content: '\e995'; } /* '' */
.ravex-icon-Department:before { content: '\eab6'; } /* '' */
.ravex-icon-Industry:before { content: '\eab7'; } /* '' */
.ravex-icon-key:before { content: '\eabc'; } /* '' */
.ravex-icon-maximize:before { content: '\eabd'; } /* '' */
.ravex-icon-restore:before { content: '\eabe'; } /* '' */
.ravex-icon-Coffee:before { content: '\eaef'; } /* '' */
.ravex-icon-Badge:before { content: '\ec1b'; } /* '' */
.ravex-icon-fingerprint:before { content: '\ef22'; } /* '' */
.ravex-icon-import:before { content: '\ef5f'; } /* '' */
.ravex-icon-CRMReport:before { content: '\effe'; } /* '' */
.ravex-icon-sem-comunicacao:before { content: '\f127'; } /* '' */
.ravex-icon-grupoMacro:before { content: '\f1ec'; } /* '' */
.ravex-icon-envio-comando:before { content: '\f29d'; } /* '' */
.ravex-icon-VisioDiagram:before { content: '\f2a0'; } /* '' */
.ravex-icon-FieldEmpty:before { content: '\f2c1'; } /* '' */
.ravex-icon-termometro:before { content: '\f2cb'; } /* '' */
.ravex-icon-window-maximize:before { content: '\f2d0'; } /* '' */
.ravex-icon-window-restore:before { content: '\f2d2'; } /* '' */
.ravex-icon-ConfigurationSolid:before { content: '\f334'; } /* '' */
.ravex-icon-enviado:before { content: '\f635'; } /* '' */
.ravex-icon-entregue:before { content: '\f636'; } /* '' */
.ravex-icon-aguardando:before { content: '\f637'; } /* '' */
.ravex-icon-arrow-down:before { content: '\f642'; } /* '' */
.ravex-icon-FullWidthEdit:before { content: '\fded'; } /* '﷭' */
.ravex-icon-MoreVertical:before { content: '󎻊'; } /* '\ceeca' */